
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?srf3rx');
    src: url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'), url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'), url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'mrs_eaves';
    src: url('../fonts/mrs_eaves/MrsEavesOTItalic.otf');
}
  
@font-face {
    font-family: 'monolite';
    src: url('../fonts/monolite/SignaturaMonoline.otf'), url('../fonts/monolite/SignaturaMonoline.ttf');
}
  
@font-face {
    font-family: 'boulevard';
    src: url('../fonts/boulevard/Boulevard.otf');
}
  
@font-face {
    font-family: 'queen';
    src: url('../fonts/saint_andrews_queen/SaintAndrewsQueen.ttf');
    font-weight: normal;
}
  
.index-stamp {
    display: block;
    margin: auto;
    height: 65%;
    width: 65%;
}

.fh5co-bg .index-img-foot{
    background-image: url(images/viernes/viernes7.jpeg);
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.5;
}

.normal-paragraph {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container .transport {
    margin-left: 15%;
}

.car-img {
    display: block;
    margin: auto;
    height: 65%;
    width: 65%;
}

.hotel {
    height: 500px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    border-radius: 5%;
}

.image_1 {
    background-image: url(../images/hotel_villalba.jpg);
}

.image_2 {
    background-image: url(../images/hotel_galaico.jpg);
}

.hotel_text {
    padding-top: 5%;
}

.header-image {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        ),
        url(../images/viernes/viernes1.jpeg);
}

.header-text {
    color: white;
}

.foot-image {
    background-image: url(../images/viernes/viernes7.jpeg);
}

.title-style {
    padding-top: 10%;
}

.btn-style {
    height: 54px;
    background: #C7E0C7;
}

.input-style {
    padding-top: 10%;
}

.input-right {
    padding-left: 20%;
}

/*
.form-check-input {
    width: 20px;
    height: 25px;
}
*/

.map-style {
    width: 472px;
    height: 337px;
}



.bus-stops {
    font-size: 20px;
    color: rgba(70, 72, 71, 0.8);
    border-bottom: 1px solid rgba(70, 72, 71, 0.8);
    display: block;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.important-text {
    padding: 5px;
    margin-right: 200px;
    background-color: #C7E0C7;
    border-radius: 10px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------- MEDIA QUERY ------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
    .map-style{
        width: 315px;
        height: 337px;
    }

    .form-control {
        width: 100%;
    }

    .fh5co-nav {
        background-color: transparent;
    }

    .fh5co-nav-toggle {
        position: fixed;
        top: 0;
    }

    .container .transport {
        margin-left: 0%;
        margin-bottom: 0%;
    }
   
    .car-img {
        display: block;
        margin-left: 25%;
        height: 30%;
        width: 30%;
    }

    .normal-paragraph {
        margin: 5%;
        font-family: 'Work Sans', Arial;
    }

    .index-stamp {
        display: block;
        margin: auto;
        height: 85%;
        width: 85%;
    }

    .bus-stop {
        font-weight: bold;
    }

    .important-text {
        margin-right: 0px;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .map-style{
        width: 506px;
        height: 312px;
    }

    .car-img {
        display: block;
        margin-left: 25%;
        height: 10%;
        width: 20%;
    }

    .bus-stop {
        font-weight: bold;
    }
    
    .important-text {
        margin-right: 0px;
    }
}

@media screen and (min-width: 668px) and (max-width: 768px) {
    .map-style {
        width: 360px;
        height: 390px;
    }

    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    .container .transport {
        margin-left: 0%;
        margin-bottom: 0%;
    }
   
    .car-img {
        display: block;
        margin-left: 25%;
        height: 30%;
        width: 30%;
    }

    .bus-stop {
        font-weight: bold;
    }
    
    .important-text {
        margin-right: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .col-md-offset-1 {
        margin-left: 5%;
    }

    .map-style{
        width: 389px;
        height: 339px;
    }

    .bus-stop {
        font-weight: bold;
    }
    
    .important-text {
        margin-right: 0px;
    }
}

