
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?srf3rx');
    src: url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'), url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'), url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'mrs_eaves';
    src: url('../fonts/mrs_eaves/MrsEavesOTItalic.otf');
  }
  
  @font-face {
    font-family: 'monolite';
    src: url('../fonts/monolite/SignaturaMonoline.otf'), url('../fonts/monolite/SignaturaMonoline.ttf');
  }
  
  @font-face {
    font-family: 'boulevard';
    src: url('../fonts/boulevard/Boulevard.otf');
  }
  
  @font-face {
    font-family: 'queen';
    src: url('../fonts/saint_andrews_queen/SaintAndrewsQueen.ttf');
    font-weight: normal;
  }
  
.index-stamp {
    display: block;
    margin: auto;
    height: 65%;
    width: 65%;
}

.fh5co-bg .index-img-foot{
    background-image: url(images/bg_1.jpg);
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.5;
}

.normal-paragraph{
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'monolite', Arial;
}

@media screen and (max-width: 480px) {
    .index-stamp {
        display: block;
        margin: auto;
        height: 85%;
        width: 85%;
    }
}